@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/Montserrat-Bold.ttf") format("truetype");
}